* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ======================================================================*/
body {
    height: 4000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ======================================================================*/
.header-section {
    width: 100%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0 30px;
    position: fixed;
    z-index: 20;
}

.fa-house {
    float: left;
    font-size: 35px;
    line-height: 60px;
    color: #fff;
}

.fa-house:hover {
    color: #d98c00;
}

.header-section .search-box {
    width: 200px;
    float: left;
    position: relative;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.header-section .search-box i {
    position: absolute;
    color: #111;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header-section .search-box input {
    border-radius: 20px;
    width: 350px;
    height: 40px;
    border: none;
}

.header-section .nav-list {
    list-style: none;
    float: right;
    height: 60px;
    position: relative;
}

.header-section .nav-list li {
    position: relative;
}

.header-section .nav li {
    float: left;
    margin-right: 35px;
    font-size: 25px;
    line-height: 60px;
}

.header-section .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.header-section .dropdown-menu {
    position: absolute;
    background-color: white;
    list-style: none;
    color: #111;
    width: 150px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #111;
    top: 55px;
    visibility: hidden;
}

.header-section .nav-list .dropdown-menu a {
    color: #111;
}

.header-section .nav-list .Accessories:hover .dropdown-menu {
    transition: 1s;
    visibility: visible;
}

.header-section .nav-list li .line1::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 12px;
    left: 0;
    background-color: #d98c00;
    opacity: 0;
    z-index: 2;
}

.header-section .nav-list li .line1:hover::after {
    width: 100%;
    height: 3px;
    transition: 0.7s;
    opacity: 1;
}

.header-section .nav-list .dropdown-menu li .line2::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 12px;
    left: 0;
    background-color: #d98c00;
    opacity: 0;
    z-index: 2;
}

.header-section .nav-list li .line2:hover::after {
    width: 100%;
    height: 3px;
    transition: 0.7s;
    opacity: 1;
}

/* ======================================================================*/
.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(../Photos/Home-photo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section .hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-section .hero-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hero-section .hero-content .hero-title {
    font-size: 80px;
    text-transform: uppercase;
    color: #d98c00;
}

.hero-section .hero-content .hero-text {
    margin-top: 10px;
    opacity: 0.7;
}

.hero-section .hero-content button {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hero-section .hero-content button:hover {
    opacity: 0.2;
}

.hero-section .btn-primary {
    background-color: #d98c00;
    color: #000;
}

.hero-section .btn-secondary {
    background-color: #111;
    color: #fff;
}

/* ======================================================================*/
.features-section {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.features-section .section-header {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.features-section .section-header .section-title {
    font-size: 60px;
}

.features-section .section-header .section-line {
    background-color: #d98c00;
    width: 200px;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.features-section .container {
    /* background-color: red; */
    width: 80%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-section .container .feature-card {
    float: left;
    /* background-color: blue; */
    width: 30%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    border: 2px solid #d98c00;
    border-radius: 20px;
    position: relative;
}

.features-section .container .feature-card-center {
    margin: 0 5%;
}

.features-section .container .feature-card .feature-icon {
    font-size: 60px;
    color: #d98c00;
}

.features-section .container .feature-card .feature-title {
    font-size: 40px;
    padding-top: 20px;
}

.features-section .container .feature-card .feature-text {
    font-size: 20px;
    opacity: 0.5;
    padding-top: 40px;
}

.features-section .container .feature-card .feature-link {
    width: 200px;
    height: 40px;
    line-height: 100px;
    font-size: 25px;
    color: #d98c00;
    font-weight: 900;
    text-decoration: none;
}

.features-section .container .feature-card:hover .feature-title {
    color: #fff;
    transition: 0.5s;
}

.features-section .container .feature-card:hover .feature-text {
    color: #111;
    transition: 0.5s;
    opacity: 1;
}

.features-section .container .feature-card::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background-color: #d98c00;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
}

.features-section .container .feature-card:hover::after {
    height: 100%;
    width: 100%;
    transition: 1s;
    opacity: 0.5;
}

/* ======================================================================*/
.products-section {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    position: relative;
}

.products-section .section-header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

.products-section .section-header .section-line {
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #d98c00;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
}

.products-section .container {
    width: 70%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.products-section .container .product-card {
    /* background-color: blue; */
    width: 30%;
    height: 44%;
    float: left;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
    border-radius: 20px;

}

.products-section .container .mid-product-card {
    margin: 0 5%;
}

.products-section .container .product-card .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: #fff;
    visibility: hidden;
}

.products-section .container .product-card .product-title {
    color: #222;
    font-size: 40px;
}

.products-section .container .product-card .product-title:hover {
    color: #d98c00;
}

.products-section .container .product-card .product-text {
    padding-top: 20px;
    font-size: 20px;
}

.products-section .container .product-card .product-text:hover {
    color: #d98c00;
}

.products-section .container .product-card .product-actions {
    /* background-color: #fff; */
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    height: 40px;
}

.products-section .container .product-card .product-actions .action-btn {
    float: left;
    background-color: #fff;
    width: 40%;
    margin: 0 5%;
    border-radius: 10px;
    border: none;
}

.products-section .container .product-card .product-actions i {
    color: #222;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    border-radius: 10px;
    border: none;
}

.products-section .container .product-card .product-actions .icon1:hover i,
.products-section .container .product-card .product-actions .icon2:hover i {
    background-color: #111;
    color: #d98c00;
}

.products-section .container .product-card:hover .product-overlay {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: visible;
}

/* ======================================================================*/
.offer-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.offer-section .section-header {
    width: 30%;
    height: 80px;
    font-size: 40px;
    color: #111;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.offer-section .section-header .section-line {
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #d98c00;
    left: 50%;
    transform: translate(-50%);
}

.offer-section .container {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.offer-section .offer-card {
    width: 30%;
    height: 40%;
    float: left;
    border-radius: 20px;
    margin: 4% 0;
    position: relative;
    z-index: 1;
    border: 1px solid #d98c00;
}

.offer-section .offer-card-center {
    margin: 4% 5%;
}

.offer-section .offer-card .offer-content {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
}

.offer-section .offer-card i {
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
    color: #d98c00;
    opacity: 0.6;
}

.offer-section .offer-card .offer-text {
    color: #f5f5f5;
    padding-left: 10px;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

.offer-section .offer-card .offer-title {
    font-size: 30px;
    color: #111;
}

.offer-section .offer-card .offer-description {
    padding-top: 10px;
    font-size: 20px;
    opacity: 0.6;
    color: #d98c00;
}

.offer-section .container .offer-card::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background-color: #d98c00;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

.offer-section .container .offer-card:hover::after {
    height: 100%;
    width: 100%;
    transition: 1s;
    opacity: 0.3;
}

.offer-section .offer-card:hover .offer-title,
.offer-section .offer-card:hover i {
    transition: 0.5s;
    color: #d98c00;
    opacity: 1;
}

.offer-section .offer-card:hover .offer-description {
    color: #111;
    transition: 0.5s;
    opacity: 1;
}

/* ======================================================================*/
.about-section {
    width: 100%;
    height: 100vh;
}

.about-section .container {
    width: 100%;
    height: 100%;
    position: relative;
}

.about-section .about-content {
    width: 40%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.about-section .section-header {
    width: 100%;
    height: 15%;
    font-size: 40px;
}

.about-section .section-header .section-line {
    height: 4px;
    width: 200px;
    background-color: #d98c00;
    margin-top: 10px;
}

.about-section .about-description {
    margin-top: 40px;
    font-size: 20px;
    opacity: 0.5;
}

.about-section .about-list {
    padding-top: 30px;
}

.about-section .about-list li {
    font-size: 20px;
    padding-top: 40px;
    color: #777;
    list-style: none;
}

.about-section .about-list i {
    color: #d98c00;
}

.about-section .about-image {
    position: absolute;
    width: 30%;
    height: 70%;
    top: 50%;
    left: 70%;
    transform: translate(-30%, -50%);
    position: relative;
}

.about-section .about-image .image {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.about-section .about-image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.about-section .about-image .slider-dots {
    width: 80%;
    position: absolute;
    height: 20px;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.about-section .about-image .dot {
    position: absolute;
    left: 40%;
    transform: translateX(-60%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #777;
    float: left;
    position: relative;
}

.about-section .about-image .dot-active {
    background-color: #d98c00;
}

.about-section .about-image .dot:nth-child(2) {
    margin: 0 5%;
}

.about-section .about-image .dot:hover {
    background-color: #d98c00;
}

/* ======================================================================*/
.stats-section {
    background-image: url(../Photos/1.png);
    width: 100%;
    height: 60vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stats-section .stats-container {
    color: #fff;
    width: 70%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.stats-section .stats-container .stat-box {
    width: 15%;
    height: 100%;
    float: left;
    margin: 0 5%;
    text-align: center;
}

.stats-section .stats-container .stat-box .stat-icon {
    font-size: 50px;
    color: #d98c00;
}

.stats-section .stats-container .stat-box .stat-number {
    padding-top: 10px;
    font-size: 30px;
}

.stats-section .stats-container .stat-box .stat-text {
    padding-top: 10px;
    font-size: 20px;
}

/* ======================================================================*/
.pricing-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.pricing-section .section-header {
    width: 30%;
    height: 80px;
    font-size: 40px;
    color: #111;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pricing-section .section-header .section-line {
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #d98c00;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
}

.pricing-section .container {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pricing-section .container .pricing-card {
    width: 30%;
    height: 100%;
    float: left;
    border-radius: 20px;
    border: 1px solid #d98c00;
    text-align: center;
    padding-top: 3%;
    position: relative;
}

.pricing-section .container .pricing-card-center {
    margin: 0 5%;
}

.pricing-section .container .pricing-card .pricing-title {
    font-size: 30px;
}

.pricing-section .container .pricing-card .pricing-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #d98c00;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    padding-top: 30px;
    margin-top: 20px;
}

.pricing-section .container .pricing-card .pricing-circle .price {
    font-size: 50px;
}

.pricing-section .container .pricing-card .pricing-circle .pricing-type {
    font-size: 20px;
}

.pricing-section .container .pricing-card .pricing-feature {
    padding-top: 30px;
    font-size: 25px;
}

.pricing-section .container .pricing-card .pricing-btn {
    width: 250px;
    height: 50px;
    margin-top: 40px;
    font-size: 25px;
    border-radius: 20px;
    border: 1px solid #d98c00;
    cursor: pointer;
}

.pricing-section .container .pricing-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #d98c00;
    opacity: 0;
    z-index: -1;
    border-radius: 20px;
    transition: 0.7s;
}

.pricing-section .container .pricing-card:hover::after {
    transition: 1s;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.pricing-section .container .pricing-card:hover .pricing-title {
    color: #d98c00;
    transition: 0.5s;
}

/* ======================================================================*/
.team-section {
    background-image: url(../Photos/team-background.png);
    width: 100%;
    height: 60vh;
    position: relative;
    background-attachment: fixed;
}

.team-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.team-section .container {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.team-section .container .team-card {
    width: 45%;
    height: 100%;
    float: left;
    color: #fff;
}

.team-section .container .team-card-center {
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 10%;
}

.team-section .container .team-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: none;
}

.team-section .container .team-name {
    color: #d98c00;
    font-size: 35px;
    padding-left: 25%;
    padding-top: 25%;
}

.team-section .container .team-role {
    font-size: 25px;
    padding-left: 25%;
    padding-top: 2%;
}

.team-section .container .team-description {
    font-size: 25px;
    padding-top: 10%;
}

/* ======================================================================*/
.team-cards-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.team-cards-section .section-header {
    width: 30%;
    height: 80px;
    font-size: 40px;
    color: #111;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.team-cards-section .section-header .section-line {
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #d98c00;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
}

.team-cards-section .container {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    position: relative;
}

.team-cards-section .container .team-card {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #d98c00;
    border-radius: 20px;
    position: relative;
}

.team-cards-section .container .team-card-center {
    margin: 0 5%;
}

.team-cards-section .container .team-image-wrapper {
    width: 80%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.team-cards-section .container .team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
}

.team-cards-section .container .team-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
}

.team-cards-section .container .team-card:hover .team-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.team-cards-section .container .team-overlay i {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    margin-left: 90%;
    font-size: 20px;
    line-height: 40px;
}

.team-cards-section .container .team-info {
    width: 80%;
    height: 25%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 20px;
}

.team-cards-section .container .team-info .team-name {
    font-size: 30px;
}

.team-cards-section .container .team-info .team-role {
    font-size: 25px;
    padding-top: 5%;
    opacity: 0.6;
}

.team-cards-section .container .team-card:hover .team-info .team-name {
    color: white;
}

.team-cards-section .container .team-card:hover .team-info .team-role {
    opacity: 1;
}

.team-cards-section .container .team-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    border-radius: 20px;
    background-color: #111;
}

.team-cards-section .container .team-card:hover::after {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

/* ======================================================================*/
.blog-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.blog-section .section-header {
    width: 30%;
    height: 80px;
    font-size: 40px;
    color: #111;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.blog-section .section-header .section-line {
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #d98c00;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
}

.blog-section .container {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    position: relative;
}

.blog-section .container .blog-card {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #d98c00;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.blog-section .container .blog-card-center {
    margin: 0 5%;
}

.blog-section .container .blog-image {
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-section .container .blog-content {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 20px;
    z-index: 3;
}

.blog-section .container .blog-meta {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

.blog-section .container .blog-meta li {
    float: left;
}

.blog-section .container .meta-middle {
    margin: 0 40px;
}

.blog-section .container .blog-title {
    font-size: 25px;
    padding-top: 5%;
}

.blog-section .container .blog-description {
    padding-top: 10%;
    opacity: 0.7;
    font-size: 20px;
    /* margin-bottom: 60px; */
}

.blog-section .container .blog-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    line-height: 100px;
}

.blog-link:hover {
    color: #111;
}

.blog-section .container .blog-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    border-radius: 20px;
    background-color: #111;
    z-index: -1;
}

.blog-section .container .blog-card:hover::after {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

/* ======================================================================*/
.footer-section {
    width: 100%;
    height: 50vh;
    background-color: #222;
    text-align: center;
    position: relative;
}

.footer-section .footer-logo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    border-radius: 20px;
}

.footer-section .footer-social {
    list-style: none;
    display: inline-block;
    padding-top: 18%;
    width: 30%;
    padding-left: 2.5%;
    color: #111;
}

.footer-section .footer-social li {
    float: left;
    width: 70px;
    height: 70px;
    background-color: #d98c00;
    border-radius: 50%;
    line-height: 70px;
    margin: 0 5px;
    font-size: 35px;
    opacity: 0.4;
    color: #111;
}

.footer-section .footer-social li a {
    color: #000;
}

.footer-section .footer-social li:hover {
    opacity: 1;
    transition: 0.5s;
}

.footer-section .footer-social li:hover a {
    color: #fff;
}

.footer-section .footer-text {
    padding-top: 20px;
    opacity: 0.5;
}